<div>
  <div class="content">
    <div class="content__juegos">
      <div class="content__juegos__nombre">
        <h4 class="content__juegos__nombre--titulo">JUEGOS</h4>
        <p class="content__juegos__nombre--descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, veritatis? Ut quaerat enim iure explicabo eum qui fuga. Quam culpa eligendi repudiandae consequuntur minus voluptate aut at dolorum deserunt odit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora nesciunt perferendis quibusdam, facilis nostrum illo accusantium doloremque iure exercitationem odio suscipit illum nam aliquam? Ducimus provident quas cupiditate excepturi nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, enim? Deserunt explicabo consectetur, voluptate eos molestiae possimus vero dolorum, a neque nihil numquam magni, eligendi vitae nemo aut ab debitis!</p>
      </div>
    </div>
    <div class="content__relatos">
      <div class="content__relatos__nombre">
        <h4 class="content__relatos__nombre--titulo">RELATOS</h4>
        <p class="content__relatos__nombre--descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, veritatis? Ut quaerat enim iure explicabo eum qui fuga. Quam culpa eligendi repudiandae consequuntur minus voluptate aut at dolorum deserunt odit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora nesciunt perferendis quibusdam, facilis nostrum illo accusantium doloremque iure exercitationem odio suscipit illum nam aliquam? Ducimus provident quas cupiditate excepturi nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, enim? Deserunt explicabo consectetur, voluptate eos molestiae possimus vero dolorum, a neque nihil numquam magni, eligendi vitae nemo aut ab debitis!</p>
      </div>
    </div>
    <div class="content__tutoriales">
      <div class="content__tutoriales__nombre">
        <h4 class="content__tutoriales__nombre--titulo">TUTORIALES</h4>
        <p class="content__tutoriales__nombre--descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, veritatis? Ut quaerat enim iure explicabo eum qui fuga. Quam culpa eligendi repudiandae consequuntur minus voluptate aut at dolorum deserunt odit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora nesciunt perferendis quibusdam, facilis nostrum illo accusantium doloremque iure exercitationem odio suscipit illum nam aliquam? Ducimus provident quas cupiditate excepturi nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, enim? Deserunt explicabo consectetur, voluptate eos molestiae possimus vero dolorum, a neque nihil numquam magni, eligendi vitae nemo aut ab debitis!</p>
      </div>

    </div>

  </div>


</div>
